{
  "parserOptions": {
    "ecmaVersion": "latest", // 或更高
    "sourceType": "module"
  },
  "extends": ["plugin:react/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
